################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs
bin/
obj/
/src/Hangfire.Test.WebJob/obj/Debug/net8.0/ref/Hangfire.Test.WebJob.dll
/src/Hangfire.Test.WebJob/obj/Debug/net8.0/refint/Hangfire.Test.WebJob.dll
/src/HangfireDemo/obj/Debug/net8.0/ref/HangfireDemo.dll
/src/HangfireDemo/obj/Debug/net8.0/refint/HangfireDemo.dll
